.songCard {
  width: 200px;
  border: solid 1px red;
  height: 150px;
  margin-left: 10px;
  position: relative;
}
.songCard :hover {
  cursor: pointer;
}
.image {
  width: 100%;
  height: 100%;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  z-index: 10;
  color: white;
  opacity: 1;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 5;
}
