.songList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1px;
  box-sizing: border-box;
  margin-left: -10px;
  overflow: hidden;
  margin-right: 189px;
  position: relative;
}
.test {
  width: 94%;
  overflow: hidden;
  margin: auto;
}
.button {
  display: block;
  background-color: grey;
  right: 15px;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.pre:hover {
  cursor: pointer;
}

.pre {
  display: block;
  left: 0px;
  position: absolute;
  background-color: grey;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}
.button:hover {
  cursor: pointer;
}
