.queue {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 64px;
  height: 100%;
  background-color: rgb(243, 241, 241);
  overflow: hidden;
  z-index: 34;
  top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
  transition-duration: 0.2s;
}
.container {
  width: 300px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: space-between;
  border: 1px grey solid;
}
.container:hover {
  background-color: goldenrod;
}

.image {
  width: 15%;
  height: 45px;
  margin-right: 20px;
  left: 1px;
  margin: 10px;
}

.text {
  width: 50%;
  display: flex;
}

.extend {
  width: 300px;
  overflow: scroll;
  background-color: rgb(205, 207, 209);
}

.active {
  background-color: yellow;
}

.head {
  padding: 5px;
  border-bottom: solid black 1px;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  overflow: hidden;
}
.name {
  color: rgb(107, 104, 104);
  margin: auto 0px;
}
.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: rgb(107, 104, 104);
  text-align: center;
  outline: none;
}
.contain {
  /* padding: 3px; */
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.IoMdShuffle {
  margin: auto 15px;
  color: rgb(107, 104, 104);
  cursor: pointer;
}

.dequeue {
  align-items: center;
  margin-right: 18px;
  padding: 0 5px;
  background-color: #e3dada;
  z-index: 600;
}

.IoIosClose {
  font-size: 30px;
  color: brown;
  align-self: center;
  height: 100%;
}
